<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Num. of Documents</th>
      <th>Created Date</th>
    </tr>
  </thead>
  <tbody id="collections">
  <%= render collections %>
</table>
