<div class="header mb-8 justify-center">
  <h1 class="text-3xl font-bold"><%= @valid_user.full_name %></h1>
</div>

<section class="flex flex-col justify-center items-center">
  <%= render "avatar", { user: @user, initials: @valid_user.initials } %>
  <%= render "form", user: @user %>
</section>
