<%= form_with model: chat, class: "w-full flex flex-col gap-2" do |f| %>
  <%= f.text_field :title, class: "input input-bordered w-full" %>
  <button type="submit" class="btn btn-sm btn-primary h-full">
    Update
  </button>
<% end %>
