<%= form_with model: Message.build, class: "w-full flex flex-row gap-2" do |f| %>
  <%= f.hidden_field :chat_id, value: (chat.present? ? chat.id : nil) %>
  <%= f.text_area :content,
              class: "textarea textarea-bordered w-full",
              placeholder: "Type a message..." %>
  <button type="submit" class="btn btn-primary h-full">
    <%= lucide_icon("send") %>
  </button>
<% end %>
