<ul class="menu text-base-content bg-base-100 min-h-full w-80">
  <div class="header">
    <h2 class="text-xl font-bold">Previous Chats</h2>
    <%= lucide_icon("square-pen") %>
  </div>
  <div class="divider my-0"></div>
  <% chats.each do |chat| %>
    <%= render "chat", chat: chat %>
  <% end %>
</ul>
