<% content_for :side_menu do %>
  <%= render "chats/sidemenu", chats: @chats %>
<% end %>

<div class="chat-window flex flex-col max-h-full w-full max-w-4xl">
  <div class="grow w-full mt-8 max-h-full overflow-y-scroll">
    <% if @messages %>
      <% @messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    <% end %>
  </div>
  <div class="flex flex-row p-3">
    <%= render "form", { message: @message, chat: (@chat.persisted? ? @chat : nil) } %>
  </div>
</div>
