<div id="upload-document-form">
  <form class="mx-auto mb-0 mt-8 max-w-md space-y-4">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Document</span>
      </div>
      <input
        id="document"
        class="file-input w-full max-w-xs"
        name="document"
        type="file"
      >
    </label>
    <input type="submit" value="Upload" class="btn btn-block btn-primary">
  </form>
</div>
