<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      <th>Collection</th>
      <th>Upload Date</th>
      <th>Embedded</th>
    </tr>
  </thead>
  <tbody id="documents">
  <%= render documents %>
</table>
