<% if turbo_frame_request? %>
  <%= render TurboModalComponent.new(title: "New Document") do %>
    <%= render "form", document: @document %>
  <% end %>
<% else %>
  <div class="header">
    <h2 class="text-2xl font-bold">New Document</h2>
  </div>
  <%= render "form", document: @document %>
<% end %>
