<% content_for :side_menu do %>

  <ul class="menu text-base-content bg-base-100 min-h-full w-80 p-4">
    <h2 class="text-xl font-bold text-center">Previous Chats</h2>
    <div class="divider"></div>
    <h1>Side menu</h1>
  </ul>
<% end %>
