<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <%= lucide_icon("menu") %>
      </div>
      <ul
        tabindex="0"
        class="
          menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow
        "
      >
        <li><a>Item 1</a></li>
        <li><a>Parent</a></li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">Rails Rag</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <% if authenticated? %>
      <%= render "layouts/navigation/menu" %>
    <% end %>
  </div>
  <div class="navbar-end">
    <% if authenticated? %>
      <%= render "layouts/navigation/dropdown" %>
    <% end %>
  </div>
</div>
