<ul class="menu menu-horizontal px-1">
  <li><%= link_to "Documents", documents_path %></li>
  <li><%= link_to "Collections", collections_path %></li>
  <li><%= link_to "Chat", chat_index_path %></li>
</ul>
