<li><%= link_to "Documents", documents_path, class: is_active?("documents") %></li>
<li><%= link_to "Collections", collections_path, class: is_active?("collections") %></li>
<li><%= link_to "Chat", chat_index_path, class: is_active?("chat") %></li>
